@import "tailwindcss";

@font-face {
	font-family: 'goudy_bookletter_1911regular';
	src: url('/assets/fonts/goudybookletter1911-regular-webfont.woff2') format('woff2'),
		url('/assets/fonts/goudybookletter1911-regular-webfont.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}